<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tourplace</title>
  <style>
    .icon {
       width: 3em; height: 3em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <link rel="stylesheet" href="/tourplace/components/content/index/css/index.css">
</head>
<body>
  <div id="container">
    <!-- 顶部导航栏 -->
    <div class="header">
      <div class="navbar">
        <!-- logo展示 -->
        <div class="logo nav">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-travel-copy"></use>
          </svg>
          <a href="/tourplace/components/content/index/index.html">Tourplace</a>
        </div>
        <!-- 定位选择 -->
        <div class="place nav" @click="placeSelect=!placeSelect" >
          <svg class="icon" aria-hidden="true" style="width: 1.5em; height: 1.5em">
            <use xlink:href="#icon-location"></use>
          </svg>
          <span>{{location}}</span>
          <div class="place-select slide-down" v-if="placeSelect">
            <div class="province" v-for="place in places">
              <div class="provinceName"　@click="changeProvince(place.Province_ID,place.Province_Name)">{{place.Province_Name}}</div>
              <div class="city">
                <span v-for="city in place.Citys" @click="changeCity(city.City_ID,city.City_Name,place.Province_ID)">{{city.City_Name}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 主要导航 -->
        <div class="index-nav nav">
          <span :class="nowPage==1?active:unactive" @click="nowPage=1">首页</span>
          <span :class="nowPage==2?active:unactive" @click="nowPage=2;getScenicList(1)">景区</span>
          <span :class="nowPage==3?active:unactive" @click="nowPage=3">榜单</span>
          <span :class="nowPage==4?active:unactive" @click="nowPage=4">热点</span>
        </div>
        <!-- 关于我们 -->
        <div class="about nav">
          <svg class="icon" aria-hidden="true" style="width: 1.5em; height: 1.5em">
            <use xlink:href="#icon-guanyuwomen"></use>
          </svg>
          <a href="/tourplace/components/content/aboutours/aboutours.html" style="text-decoration: none;color: rgba(77, 77, 77, 1)">关于我们</a>
        </div>
        <!-- 搜索 -->
        <div class="search nav">
          <input type="text" placeholder="输入景区/用户ID" v-model="searchInfor">
          <svg class="icon search-icon" aria-hidden="true" @click="find()">
            <use xlink:href="#icon-sou"></use>
          </svg>
        </div>
        <!-- 用户 -->
        <div class="user nav" :value="userID" @click="loginORuser()">
          <img class="avator" :src="userPicture" alt="">
          <span style="margin-left: 45px; color: rgb(184, 184, 184);text-decoration:none">{{user}}</span>
        </div>
      </div>
    </div>
    <!-- 页面主体 -->
    <div class="content">
      <!-- 主页 -->
      <div class="homePage" v-if="nowPage == 1">
        <!-- 轮播图 -->
        <div class="turn-pic">
          <img src="/tourplace/img/scenic/00.jpg" :class="showPic==0?active:unactive" alt="">
          <img src="/tourplace/img/scenic/01.jpg" :class="showPic==1?active:unactive" alt="">
          <img src="/tourplace/img/scenic/02.jpg" :class="showPic==2?active:unactive" alt="">
          <img src="/tourplace/img/scenic/03.jpg" :class="showPic==3?active:unactive" alt="">
          <img src="/tourplace/img/scenic/04.jpg" :class="showPic==4?active:unactive" alt="">
          <div class="turn-btn">
            <ul>
              <li @click="showPic=0" :class="showPic==0?active:unactive"></li>
              <li @click="showPic=1" :class="showPic==1?active:unactive"></li>
              <li @click="showPic=2" :class="showPic==2?active:unactive"></li>
              <li @click="showPic=3" :class="showPic==3?active:unactive"></li>
              <li @click="showPic=4" :class="showPic==4?active:unactive"></li>
            </ul>
          </div>
          <div class="btn-pre turn" style="left: 10px" @click="gotolast()">
            <svg class="icon" aria-hidden="true" style="margin-left: 8px;margin-top: 25px;">
              <use xlink:href="#icon-fanhui"></use>
            </svg>
          </div>
          <div class="btn-next turn" style="right: 10px;" @click="gotonext()">
            <svg class="icon" aria-hidden="true" style="margin-left: -8px;margin-top: 25px;">
              <use xlink:href="#icon-gengduo"></use>
            </svg>
          </div>
        </div>
        <!-- 景区展示 -->
        <div class="showScenic">
          <!-- 侧栏 -->
          <div class="aside">
            <!-- 今日最热 -->
            <div class="todayMax">
              <h2>今日最热</h2>
              <div class="firsTen">
                <ul>
                  <li class="early first">
                    <i>1</i>
                    <img :src="todayScenics[0].Scenic_Picture" alt="" style="width: 128px; height: 80px;">
                    <div class="pull-right" style="width: 232px;text-indent: 15px;">
                      <span>{{todayScenics[0].Scenic_Name}}</span>
                      <span style="color: #fa3140; display: block;margin-top: 20px;">2425454<span>人</span></span>
                    </div>
                  </li>
                  <li class="early">
                    <i>2</i>
                    <span>{{todayScenics[1].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                  <li class="early">
                    <i>3</i>
                    <span>{{todayScenics[2].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>4</i>
                    <span class="">{{todayScenics[3].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>5</i>
                    <span class="">{{todayScenics[4].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>6</i>
                    <span>{{todayScenics[5].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>7</i>
                    <span>{{todayScenics[6].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>8</i>
                      <span>{{todayScenics[7].Scenic_Name}}</span>
                      <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>9</i>
                      <span>{{todayScenics[8].Scenic_Name}}</span>
                      <span class="j">12121<span>人</span></span>
                  </li>
                  <li>
                    <i>10</i>
                    <span>{{todayScenics[9].Scenic_Name}}</span>
                    <span class="j">12121<span>人</span></span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 景区快讯 -->
            <div class="todayNews">
                <div class="title">
                  <h3>今日快讯</h3>
                </div>
                <div class="contain">
                  <h3 style="margin-top: 10px;font-weight: normal;">泰山日出时间：5：40</h3>
                  <div class="cont" style="margin-top: 5px;color: rgb(170, 169, 166)">
                    今天日出格外美...格外美...外美...美
                  </div>
                </div>
            </div>
            <!-- 旅游国际 -->
            <div class="internation">
              <h2>旅游国际</h2>
              <div class="firsTen">
                <ul>
                  <li class="first early">
                    <i>1</i>
                    <img :src="interScenics[0].Scenic_Picture" alt="" style="width: 140px; height: 194px;">
                    <div class="pull-right" style="width: 200px;padding-top: 15px;">
                      <span style="display: block">{{interScenics[0].Scenic_Name}}</span>
                      <span style="display: block;margin-top: 15px;color: rgb(170, 169, 166);max-height:130px;overflow:hidden;font-size: 10px;">{{interScenics[0].Scenic_Intro}}</span>
                    </div>
                  </li>
                  <li class="second early pull-left">
                    <i>2</i>
                    <img :src="interScenics[1].Scenic_Picture" alt="" style="width: 170px; height: 118px;">
                    <span style="display: block;">{{interScenics[1].Scenic_Name}}</span>
                  </li>
                  <li class="third early pull-left">
                    <i>3</i>
                    <img :src="interScenics[2].Scenic_Picture" alt="" style="width: 170px; height: 118px;">
                    <span style="display: block">{{interScenics[2].Scenic_Name}}</span>
                  </li>
                  <li class="others" style="margin-top: 170px;">
                    <i>4</i>
                    <span>{{interScenics[3].Scenic_Name}}</span>
                  </li>
                  <li class="others">
                    <i>5</i>
                    <span>{{interScenics[4].Scenic_Name}}</span>
                  </li>
                  <li class="others">
                    <i>6</i>
                    <span>{{interScenics[5].Scenic_Name}}</span>
                  </li>
                  <li class="others">
                    <i>7</i>
                    <span>{{interScenics[6].Scenic_Name}}</span>
                  </li>
                  <li class="others">
                    <i>8</i>
                    <span>{{interScenics[7].Scenic_Name}}</span>
                  </li>
                  <li class="others">
                    <i>9</i>
                    <span>{{interScenics[8].Scenic_Name}}</span>
                  </li>
                  <li class="others">
                    <i>10</i>
                    <span>{{interScenics[9].Scenic_Name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 主体 -->
          <div class="main">
            <!-- 本地推荐 -->
            <div class="location-scenic">
              <div class="panel">
                <!-- 头部 -->
                <div class="panel-header">
                  <span class="title">本地推荐</span>
                  <span class="pull-right clickToView" @click="nowPage=2;getScenicList(1)">查看全部>></span>
                </div>
                <!-- 主体 -->
                <div class="panel-content">
                  <dl class="scenic-list">
                    <dd v-for="locationScenic,i in locationScenics">
                      <div class="scenic-item">
                        <a :href="locationScenicUrls[i]" style="text-decoration: none">
                          <div class="scenic-poster">
                            <img :src="locationScenic.Scenic_Picture" alt="">
                            <div class="scenic-shadow"></div>
                            <div class="scenic-name">
                              {{locationScenic.Scenic_Name}}
                            </div>
                          </div>
                        <div class="buyTicket">
                          购票
                        </div>
                      </a>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <!-- 宣传视频 -->
            <div class="movie-scenic">
              <div class="panel">
                <!-- 头部 -->
                <div class="panel-header">
                  <span class="title">宣传视频</span>
                  <span class="pull-right clickToView">查看全部>></span>
                </div>
                <!-- 主体 -->
                <div class="panel-content">
                  <dl class="scenic-list">
                    <dd v-for="ScenicVedio in ScenicVedios">
                      <div class="scenic-item">
                        <a :href="ScenicVedio.Scenic_Vedio" style="text-decoration: none">
                          <div class="scenic-poster">
                            <img :src="ScenicVedio.Scenic_Picture" alt="">
                            <div class="scenic-shadow"></div>
                            <div class="scenic-name">
                              {{ScenicVedio.Scenic_Name}}
                            </div>
                          </div>
                          <div class="buyTicket">
                            观看
                          </div>
                        </a>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 景区 -->
      <div class="Scenic-index" v-if="nowPage == 2">
        <!-- 选择条件 -->
        <div class="scenic-channel">
          <div class="select-condition">
            <div class="tags-panel">
              <ul class="tags-lines">
                <li class="tags-line">
                  <div class="tag-title">
                    星级：
                  </div>
                  <ul>
                    <li :class="scenicLevel==''?active:''" @click="scenicLevel = '';getScenicList(1)">
                      <span>全部</span>
                    </li>
                    <li :class="scenicLevel=='5A'?active:''" @click="scenicLevel = '5A';getScenicList(1)">
                      <span>５A</span>
                    </li>
                    <li :class="scenicLevel=='4A'?active:''" @click="scenicLevel = '4A';getScenicList(1)">
                      <span>４A</span>
                    </li>
                    <li :class="scenicLevel=='3A'?active:''" @click="scenicLevel = '3A';getScenicList(1)">
                      <span>３A</span>
                    </li>
                    <li :class="scenicLevel=='2A'?active:''" @click="scenicLevel = '2A';getScenicList(1)">
                      <span>２A</span>
                    </li>
                    <li :class="scenicLevel=='1A'?active:''" @click="scenicLevel = '1A';getScenicList(1)">
                      <span>其他</span>
                    </li>
                  </ul>
                </li>
                <li class="tags-line">
                  <div class="tag-title">
                    类型：
                  </div>
                  <ul>
                    <li :class="scenicType == 0?active:''" @click="scenicType = 0;getScenicList(1);">
                      <span>全部</span>
                    </li>
                    <li :class="scenicType == 1?active:''" @click="scenicType = 1;getScenicList(1);">
                      <span>登山</span>
                    </li>
                    <li :class="scenicType == 2?active:''" @click="scenicType = 2;getScenicList(1);">
                      <span>观海</span>
                    </li>
                    <li :class="scenicType == 3?active:''" @click="scenicType = 3;getScenicList(1);">
                      <span>游乐园</span>
                    </li>
                    <li :class="scenicType == 4?active:''" @click="scenicType = 4;getScenicList(1);">
                      <span>名胜古迹</span>
                    </li>
                    <li :class="scenicType == 5?active:''" @click="scenicType = 5;getScenicList(1);">
                      <span>秀丽风景</span>
                    </li>
                    <li :class="scenicType == 6?active:''" @click="scenicType = 6;getScenicList(1);">
                      <span>异族风情</span>
                    </li>
                    <li :class="scenicType == 7?active:''" @click="scenicType = 7;getScenicList(1);">
                      <span>其他</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 景区图片 -->
        <div class="scenic-content">
          <dl class="scenic-list">
            <dd v-for="scenic,i in ScenicList">
              <div class="scenic-item" value="scenic.Scenic_ID">
                <a :href="ScenicListUrls[i]">
                  <div class="scenic-poster">
                    <img :src="scenic.Scenic_Picture" alt="">
                    <div class="scenic-shadow"></div>
                    <div class="scenic-name">
                      {{scenic.Scenic_Name}}
                    </div>
                  </div>
                </a>
                <div class="buyTicket">
                  购票
                </div>
              </div>
            </dd>
          </dl>
          <div class="block">
            <el-pagination
              layout="prev, pager, next"
              :total="scenicNum" @current-change="getScenicList">
            </el-pagination>
          </div>
        </div>
      </div>
      <!-- 榜单 -->
      <div class="scenic-ranking" v-if="nowPage == 3">
        本功能尚未开放
      </div>
      <!-- 热点 -->
      <div class="hot-news" v-if="nowPage == 4">
        本功能尚未开放
      </div>
    </div><!--STATUS OK-->
    <div class="footer">
      <div class="friendLink">
        <span>友情链接: </span>
        <a href="https://www.baidu.com/">百度首页</a>
        <span>|</span>
        <a href="https://github.com/">GitHub社区</a>
        <span>|</span>
        <a href="https://github.com/firewithwind">开发者首页</a>
      </div>
      <div class="emailLink">
        <span>本网站由HITWH学生团队打造，若要联系开发者，请发送邮件至</span>
        <a href="http://mail.163.com/">17862702878@163.com</a>
      </div>
    </div>
  </div>
  <script src="http://at.alicdn.com/t/font_rwavjqfqgs0pb9.js"></script>
  <script src="/tourplace/components/node_modules/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/tourplace/components/node_modules/jquery/dist/jquery.js"></script>
  <script src="/tourplace/components/content/index/js/index.js"></script>
</body>
</html>
