<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tourplace</title>
  <style>
    .icon {
       width: 3em; height: 3em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
  </style>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <link rel="stylesheet" href="/tourplace/components/content/scenic/css/scenic.css">
</head>
<body>
  <div id="container">
    <!-- 顶部导航栏 -->
    <div class="header">
      <div class="navbar">
        <!-- logo展示 -->
        <div class="logo nav">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-travel-copy"></use>
          </svg>
          <a href="/tourplace/components/content/index/index.html">Tourplace</a>
        </div>
        <!-- 定位选择 -->
        <div class="place nav" @click="placeSelect=!placeSelect" >
          <svg class="icon" aria-hidden="true" style="width: 1.5em; height: 1.5em">
            <use xlink:href="#icon-location"></use>
          </svg>
          <span>{{location}}</span>
          <div class="place-select slide-down" v-if="placeSelect">
            <div class="province" v-for="place in places">
              <div class="provinceName"　@click="location=place.provinceName">{{place.provinceName}}</div>
              <div class="city">
                <span v-for="city in place.citys" @click="location=city.cityName">{{city.cityName}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 主要导航 -->
        <div class="index-nav nav">
          <a href="/tourplace/components/content/index/index.html?nowPage=1">首页</a>
          <a href="/tourplace/components/content/index/index.html?nowPage=2">景区</a>
          <a href="/tourplace/components/content/index/index.html?nowPage=3">榜单</a>
          <a href="/tourplace/components/content/index/index.html?nowPage=4">热点</a>
        </div>
        <!-- 关于我们 -->
        <div class="about nav">
          <svg class="icon" aria-hidden="true" style="width: 1.5em; height: 1.5em">
            <use xlink:href="#icon-guanyuwomen"></use>
          </svg>
          关于我们
        </div>
        <!-- 搜索 -->
        <div class="search nav">
          <input type="text" placeholder="输入景区/用户/门票">
            <svg class="icon search-icon" aria-hidden="true">
              <use xlink:href="#icon-sou"></use>
            </svg>
        </div>
        <!-- 用户 -->
        <div class="user nav">
          <img class="avator" src="/tourplace/img/user/00.jpg" alt="">
          <a href="" style="margin-left: 45px; color: rgb(184, 184, 184);text-decoration:none">{{user}}</a>
        </div>
      </div>
    </div>
    <!-- 页面主体 -->
    <div class="content">
      <!-- 顶部展示框 -->
      <div class="banner">
        <div class="wrapper">
          <div class="scenic-pic">
            <div class="avator-shadow">
              <img :src="Scenic.Scenic_Picture" alt="" class="avator">
            </div>
          </div>
          <div class="scenic-info">
            <div class="scenic-brief-container">
              <h1 class="name">{{Scenic.Scenic_Name}}</h1>
              <div class="englishName" style="font-size: 19px;">{{ScenicEnglishName}}</div>
              <ul>
                <li class="grade cllipsis">{{Scenic.Scenic_Level}}级景区</li>
                <li class="phone cllipsis">联系电话：{{Scenic.Scenic_Phone}}</li>
                <li class="place cllipsis">
                  <svg class="icon" aria-hidden="true" style="width: 1.1em;height: 1.1em;">
                    <use xlink:href="#icon-location"></use>
                  </svg>
                  {{Scenic.Scenic_Adress}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 主体部分 -->
      <div class="mainbody">
        <div class="mainbody-container">
          <div class="maincontent">
            <!-- 景区介绍 -->
            <div class="scenic-intro scenic-content">
              <h3>景区介绍</h3>
              <p>{{Scenic.Scenic_Intro}}</p>
            </div>
            <!-- 景区展示 -->
            <div class="pictures scenic-content">
              <h3>景区展示</h3>
              <div class="picture-container">
                <div class="picture">
                  <img src="/tourplace/img/user/00.jpg" alt="">
                  <img src="/tourplace/img/user/00.jpg" alt="">
                  <img src="/tourplace/img/user/00.jpg" alt="">
                  <img src="/tourplace/img/user/00.jpg" alt="">
                  <img src="/tourplace/img/user/00.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- 门票出售 -->
            <div class="scenic-ticket scenic-content">
              <h3>门票出售</h3>
              <div class="ticket-container">
                <div class="ticket-content" v-for="ticket in tickets">
                  <img :src="ticket.Ticket_Picture" alt="" style="width: 300px;height: 100px;">
                  <div class="ticket-saler">
                    <img :src="ticket.User_Picture" alt="" @mouseover="ticket.saler_Show = 1" @mouseout="ticket.saler_Show = 0">
                    <div class="saler-info" v-if="ticket.salerShow == 1">
                      售票人：{{ticket.User_Name}}({{ticket.User_Phone}})
                    </div>
                  </div>
                  <div class="ticket-info">
                    <span class="ticket-time">{{ticket.Ticket_Time}}</span>
                    <span class="ticket-price">￥{{ticket.UserTicket_Price}}元</span>
                    <span calss="ticket-number">剩{{ticket.UserTicket_Count}}张</span>
                  </div>
                  <div class="ticket-buy" @click="ticket.buy = 1">
                    购买
                  </div>
                  <div class="buyDialog" v-if="ticket.buy == 1">
                    <div class="buytitle">确认购买信息</div>
                    <div class="order">
                      <div class="buy-info">购买物品: <span>{{Scenic.Scenic_Name}}门票</span></div>
                      <div class="buy-info">物品ID： <span>{{ticket.Ticket_ID}}</span></div>
                      <div class="buy-info">售票人： <span>{{ticket.User_Name}}</span></div>
                      <div class="buy-info">有效期至： <span>{{ticket.Ticket_Time}}</span></div>
                      <div class="buy-info">单价： <span>{{ticket.UserTicket_Price}}</span></div>
                      <div style="margin-top:15px;">数量：
                      <template >
                        <el-input-number v-model="Order_Count" size="small" :min="1" :max="ticket.UserTicket_Count"></el-input-number>
                      </template>
                      </div>
                      <div class="ensure">
                        <button style="background-color:#fa3140;color:#ffffff" @click="addOrder(ticket.Ticket_ID,ticket.User_ID);ticket.buy=0">下单</button>
                        <button style="margin-left: 10px;" @click="ticket.buy=0">取消</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 侧边栏 -->
        <!-- <div class="aside">
          <div class="aside-content">
            <div class="about-news">
              <h3>相关资讯</h3>
              <div class="news-content">
                <ul>
                  <li>相关资讯１</li>
                  <li>相关资讯２</li>
                  <li>相关资讯３</li>
                  <li>相关资讯４</li>
                  <li>相关资讯５</li>
                  <li>相关资讯６</li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- 页脚 -->
    <div class="footer"></div>
  </div>
  <script src="http://at.alicdn.com/t/font_rwavjqfqgs0pb9.js"></script>
  <script src="/tourplace/components/node_modules/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/tourplace/components/node_modules/jquery/dist/jquery.js"></script>
  <script src="/tourplace/components/content/scenic/js/scenic.js"></script>
</body>
</html>
