<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tourplace-user</title>
  <style>
  .icon {
     width: 3em; height: 3em;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
  }
  </style>
  <link rel="stylesheet" href="/tourplace/components/content/userother/css/userother.css">
</head>
<body>
  <div id="container">
    <!-- 顶部导航栏 -->
    <div class="header">
      <div class="navbar">
        <!-- logo展示 -->
        <div class="logo nav">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-travel-copy"></use>
          </svg>
          <a href="/tourplace/components/content/index/index.html">Tourplace</a>
        </div>
        <!-- 定位选择 -->
        <div class="place nav" @click="placeSelect=!placeSelect" >
          <svg class="icon" aria-hidden="true" style="width: 1.5em; height: 1.5em">
            <use xlink:href="#icon-location"></use>
          </svg>
          <span>定位</span>
        </div>
        <!-- 主要导航 -->
        <div class="index-nav nav">
          <a href="/tourplace/components/content/index/index.html?nowPage=1">首页</a>
          <a href="/tourplace/components/content/index/index.html?nowPage=2">景区</a>
          <a href="/tourplace/components/content/index/index.html?nowPage=3">榜单</a>
          <a href="/tourplace/components/content/index/index.html?nowPage=4">热点</a>
        </div>
        <!-- 关于我们 -->
        <div class="about nav">
          <svg class="icon" aria-hidden="true" style="width: 1.5em; height: 1.5em">
            <use xlink:href="#icon-guanyuwomen"></use>
          </svg>
          <a href="/tourplace/components/content/aboutours/aboutours.html" style="text-decoration: none;color: rgba(77, 77, 77, 1)">关于我们</a>
        </div>
        <!-- 搜索 -->
        <div class="search nav">
          <input type="text" placeholder="输入景区/用户/门票">
            <svg class="icon search-icon" aria-hidden="true">
              <use xlink:href="#icon-sou"></use>
            </svg>
        </div>
        <!-- 用户 -->
        <div class="user nav">
          <img class="avator" :src="mine.User_Picture" alt="">
          <a href="/tourplace/components/content/user/user.html?card=1" style="margin-left: 45px; color: rgb(184, 184, 184);text-decoration:none">{{mine.User_Name}}</a>
        </div>
      </div>

    </div>
    <!-- 内容 -->
    <div class="content">
      <div class="information">
        <div class="left-nav">
          <ul>
            <li @click="nowCard = 1">个人信息</li>
            <!-- <li @click="nowCard = 2;getOrder(0)">我的订单</li>
            <li @click="nowCard = 3;getTicket(0)">我的仓库</li> -->
            <li v-if="user.User_Type == 1" @click="nowCard=4;getScenic()">{{user.User_Name}}的景区</li>
          </ul>
        </div>
        <div class="right-content">
          <div class="user-information infor" v-if="nowCard == 1">
            <div class="cont">
              <div class="title">
                <input id="touxiang" type="file" accept="image/*" @change="changeUserPicture()">
                <img :src="user.User_Picture" alt="" style="width: 80px;height: 80px;float: left;margin-right: 20px;">
                <div class="Name">昵称：{{user.User_Name}} </div>
                <div class="Sex">性别：{{user.User_Sex==0?'男':'女'}}</div>
                <div class="ID">用户ID: <span>{{user.User_ID}}</span></div>
              </div>
              <div class="cont-body">
                <div class="Phone">联系方式：{{user.User_Phone}}</div>
                <div class="Birthday">用户生日：{{user.User_Birthday}}</div>
                <div class="Type">用户类型：<span>{{user.User_Type==0?"普通用户":"景区管理员"}}</span></div>
                <div class="Level">用户等级：<span>{{user.User_Level}}</span></div>
                <div class="Intro">用户介绍：{{user.User_Intro}}</div>
              </div>
            </div>
          </div>
          <!-- <div class="order-information infor" v-if="nowCard == 2">
            <div class="cont">
              <div class="order-select">
                <ul>
                  <li :class="orderType==1?'active':''" @click="orderType=1;getOrder(0)">待付款订单</li>
                  <li :class="orderType==2?'active':''" @click="orderType=2;getOrder(1)">已完成订单</li>
                </ul>
              </div>
              <div class="orders">
                <div class="order-body" v-for="order in orders">
                  <div class="orderID">订单号：<span>{{order.Order_ID}}</span></div>
                  <div class="ScenicName">景区：<span>{{order.Scenic_Name}}</span></div>
                  <div class="TicketTime">门票时间：<span>{{order.Ticket_Time}}</span></div>
                  <div class="TicketTime">交易时间：</div>
                  <div>{{order.Order_Time}}</div>
                  <button class="pay" v-if="order.Order_State==1" @click="payOrder(order.Order_ID)">付款</button>
                </div>
              </div>
            </div>
          </div>
          <div class="ticket-information infor" v-if="nowCard == 3">
            <div class="cont">
              <div class="ticket-select">
                <button @click="ticketType=0;getTicket(0)">出售中</button>
                <button @click="ticketType=1;getTicket(1)">未出售</button>
                <button @click="ticketType=2;getTicket(2)">已过期</button>
              </div>
              <div class="tickets">
                <div class="ticket-body" v-for="ticket in tickets">
                  <img :src="ticket.Ticket_Picture" alt="">
                  <div class="ticket-info">
                    <span class="scenic">{{ticket.Scenic_Name}}</span>
                    <span class="time">{{ticket.Ticket_Time}}</span>
                    <span class="number"><span>{{ticket.UserTicket_Count}}</span>张</span>
                    <span v-if="ticketType == 0">出售中</span>
                    <span v-if="ticketType == 1">可使用</span>
                    <span v-if="ticketType == 2">已过期</span>
                  </div>
                  <div class="sale" v-if="ticketType == 1" @click="ticket.change = 1">
                    上架
                  </div>
                  <div class="sale"  v-if="ticketType == 0" @click="ticket.change = 1">
                    下架
                  </div>
                  <div class="sale" v-if="ticketType == 2" @click="deleteTicket(ticket.Ticket_ID)">
                    删除
                  </div>
                  <div class="changeDiolag" v-if="ticket.change == 1">
                    <div style="color: rgb(92, 92, 92);margin-top: 10px">修改数量</div>
                    <input type="text" placeholder="输入数量">
                    <div style="color: rgb(92, 92, 92);margin-top: 10px;">修改价格</div>
                    <input type="text" placeholder="输入价格">
                    <div style="margin-top: 20px;">
                      <button v-if="ticketType == 1" style="background-color: #fa3140;color: #ffffff" @click="chageTicket(0,ticket.Ticket_ID,ticket.Ticket_Price);ticket.change=0">确定</button>
                      <button v-if="ticketType == 0" style="background-color: #fa3140;color: #ffffff" @click="chageTicket(1,ticket.Ticket_ID,ticket.Ticket_Price);ticket.change=1">确定</button>
                      <button @click="ticket.change=0">取消</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="scenic-information infor" v-if="nowCard == 4">
            <div class="cont">
              <div class="scenic-title">
                <img :src="Scenic.Scenic_Picture" alt="" style="width: 232px;height: 322px;float: left">
                <div class="title-body">
                  <h2>{{Scenic.Scenic_Name}}</h2>
                  <div>景区ID: <span>{{Scenic.Scenic_ID}}</span></div>
                  <div>景区水平: <span>{{Scenic.Scenic_Level}}</span>级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;景区类型：<span>{{Scenic.Scenic_Type}}</span></div>
                  <div>景区详细地址: {{Scenic.Scenic_Adress}}</div>
                  <div>景区联系方式: {{Scenic.Scenic_Phone}}</div>
                  <div>景区视频链接: {{Scenic.Scenic_Vedio}}</div>
                  <div>景区介绍: <span>{{Scenic.Scenic_Intro}}</span></div>
                  <!-- <button @click="addTicket = 1" class="add">添加门票</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://at.alicdn.com/t/font_rwavjqfqgs0pb9.js"></script>
  <script src="/tourplace/components/node_modules/vue/dist/vue.js"></script>
  <script src="/tourplace/components/node_modules/jquery/dist/jquery.js"></script>
  <script src="/tourplace/components/content/userother/js/userother.js"></script>
</body>
</html>
